## Scraping Wikipedia: American films of 1995

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_1995'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# table for each continent
tables = soup.find_all(class_='wikitable')
len(tables)

8

In [3]:
df_list = []

for t in range(0, len(tables)):    
    rows = tables[t].find_all('tr')
    headers = rows[0].find_all('th')
    
    headers_list = []
    
    for h in range(0, len(headers)):
        headers_list.append(headers[h].text.strip())
    
    rows_dict = {}
    
    for n in range(1,len(rows)):
        row_data = rows[n].find_all('td')
        row_data_list = []
        for i in range(0, len(row_data)):
            data = row_data[i].text.strip()
            row_data_list.append(data)
        rows_dict['row{}'.format(n)] = row_data_list
    
    
    df = pd.DataFrame.from_dict(rows_dict, orient='index', columns=headers_list)
    df_list.append(df)
    
df_final = pd.concat(df_list).reset_index(drop=True)

df_final

,Title,Director,Cast,Genre,Note
0,12 Monkeys,Terry Gilliam,"Bruce Willis, Madeleine Stowe, Brad Pitt, Chri...",Science fiction,
1,3 Ninjas Knuckle Up,Sang-ok Shin,"Victor Wong, Charles Napier, Michael Treanor, ...",Comedy,
2,Above Suspicion,Steven Schachter,"Christopher Reeve, Kim Cattrall, Joe Mantegna",Thriller,HBO
3,Ace Ventura: When Nature Calls,Steve Oedekerk,"Jim Carrey, Ian McNeice, Sophie Okonedo, Bob G...",Comedy,sequel
4,The Addiction,Abel Ferrara,"Lili Taylor, Christopher Walken, Annabella Sci...",Horror,
...,...,...,...,...,...
308,Wild Bill,Walter Hill,"Jeff Bridges, Ellen Barkin, David Arquette, Jo...",Western,
309,Wild Side,Donald Cammell,"Christopher Walken, Anne Heche, Joan Chen",Drama,
310,Wings of Courage,,"Craig Sheffer, Elizabeth McGovern",IMAX,40 min.
311,Without Evidence,Gil Dennis,"Scott Plank, Angelina Jolie",Drama,
312,The Wrong Woman,Douglas Jackson,"Nancy McKeon, Chelsea Field",Drama,